.menu{
    margin: 0;
    display: flex;
    /* works well with 100% width */
    width: 32.05em;
    font-size: 1.5em;
    padding: 0 2.85em;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: blanchedalmond;
}
.menu__item {
   all: unset; 
   flex-grow: 1;
   z-index: 100;
   display: flex;
   cursor: pointer;
   position: relative;
   border-radius: 50%;
   align-items: center;
   will-change: transform;
   justify-content: center;
   padding: 0.55em 0 0.85em;
   transition: transform var(--timeout , var(--duration));

}